# JWT AUTHENTICATION
APP_SECRET=
APP_SECRET_EXPIRATION=1d

# APP
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000

# MAIL CONFIGURATION
MAIL_DRIVER=ethereal # e.g: ses, ethereal

DEFAULT_MAIL_ADDRESS= # e.g: "suport@mail.com"
DEFAULT_MAIL_NAME= # e.g: "John Doe from AWS"

# STORAGE
STORAGE_DRIVER=disk ## e.g: disk, s3
AWS_S3_BUCKET_NAME= # e.g: "my-unique-s3bucket-name". **MUST BE LOWER CASE**

# AWS CREDENTIALS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
