<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>
<div class="message-content">
  <p>Hi, {{name}}.</p>
  <p>It seems you've request a password recovery.</p>
  <p>If you were the one who made this request, click on the link below:</p>
  <p>
    <a href="{{link}}">Reset my password</a>.
  </p>
  <p>If it wasn't you, please ignore and delete this e-mail.</p>
  <p>
    Thank you!
    <br/>
    <strong>GoBarber Staff</strong>
  </p>
</div>
